.task-box {
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #233e8b;
    color: #ffffc7;
    border-radius: 25px;
}

.student {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.task {
    margin: 8px 0;
    font-size: 18px;
    text-align: justify;
}

.buttons-panel {
    display: flex;
    justify-content: space-around;
}